/*-- scss:defaults --*/
// Base document colors
$link-color: #0c3762;
$h1-font-size: 2.2rem;
$h2-font-size: 1.8rem;
$h3-font-size: 1.5rem;
$code-block-bg:  #f0aa0c20;
$btn-code-copy-color: #0c3762;

/* link styles */
a {
  color: #0c3762;
  text-decoration: none;
}
  a:hover {
    color: #0c3762;
    text-decoration: none;
    font-weight: 900;
  }
  a:visited {
    color: #0c3762; }
  a:visited:hover {
    color: #0c3762; }
